APP__SF__SQL_ALCHEMY_CONN="snowflake://{user}:{password}@{account_identifier}/{database}/{SCHEMA}"      # Snowflake SQL Alchemy Connection String
APP__SF__ACCESS_TOKEN=<string>                                                                          # User Access Token. More information in the README.